*{
	margin: 0;
	padding: 0;
	font-family: arial;
	box-sizing: border-box;
}
body {
	width: 100%;
	background-image: url("../images/main-bg.jpg");
	background-size: cover;
	background-position: center;
	min-height: 100vh;
}
body:after {
    content: ' ';
    width: 100%;
    height: 100%;
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.6;
}
.logo {
	color: #fff;
	padding: 10px 25px;
}
.back-button {
	margin-bottom: 10px;
}
section.main {
	width: 100%;
	color: #fff;
	padding: 50px 25px 10px;
}

section.main h1 {
	margin-bottom: 20px;
}

section.main .table {
	max-width: 100%;
	overflow-x: scroll;
}
section.main table {
	border-collapse:collapse;
	width: 100%;
	margin-top: 30px;
}

section.main table td {
	border: 1px solid #fff;
	padding: 5px;
	background-color: rgba(0,0,0,0.6);
}

section.main ul {
	list-style: none;
	margin-top: 20px;
}

section.main ul li{
	list-style: none;
	padding-top: 3px;
}

section.main ul li a {
	color: #fff;
	opacity: 0.9;
	text-decoration: none;
}
.alert {
	position: fixed;
	top: 10px;
	left: 0px;
	width: 94%;
	transition: .5s;
	background: #dea166;
	color: #fff;
	font-weight: 600;
	padding: 5px;
	margin: 0 3%;
}

.alert.hide {
	top: -100px;
}
.pages .page {
	display: none;
	position: relative;
	opacity: 0;
	transition: 0.5s;
}

.pages .page.active {
	display: block;
	left: 0;
	opacity: 1;
}
.pages .page.hide {
	opacity: 0;
}
section.main button {
	width: 100%;
	color: #fff;
	background: #dea166;
	border: none;
	padding: 10px;
	margin-top: 15px;
}

#page-analityc table {
	margin-top: 0;
	margin-bottom: 10px;
}
#page-analityc table td {
	border: none;
	width: 50%;
}